

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomeasdasdasdas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@for (int i = 0; i < TempData.Count; i++)
{
    <div class="alert alert-warning">
    <p>@TempData["Item" + i]</p>
</div>
}


